footer{
    position: absolute;
    bottom: 0;
    background-color: #181c1f;
    text-align: center;
    width: 100vw;
    height: 8vh;
    box-shadow: #00B2FF 0 0 0 0.1em;
}


.social-media{
    display:flex;
    padding: 0.3em;
    justify-content: space-evenly;
}

.fa-instagram, .fa-facebook-square, .fa-envelope, .fa-linkedin, .fa-github-square{
    justify-content: center;
    color: white;
    transition: transform 300ms ease-in -300ms, color 500ms ease-in -500ms; 
    margin: 0.2em 0 0 0;
    &:hover {
        color:#15FFFF;
        transform: scale(1.15);
    }
}
